@import "../../variables.scss";

#about{
    margin-top: 8rem;
    margin-bottom: 8rem;
    h1{
        color: $gray-light3;
    }
    h2{
        color: $purple-primary;
    }
    p{
        font-size: 1.2rem;
        color: $gray-texts;
    }
    .about{
        margin-top: 8rem;
    }
}

#files{
    .row{
        padding-top: 8rem;
    }
    .card{
        cursor: pointer;
        padding-top: 4rem;
        border: none;
        color: $gray-light;
        border-radius: 0;
        background-color: transparent;
        img{
            width: 2.5rem;
            margin: 0 auto;
            margin-bottom: 2rem;
        }
        p{
            margin-bottom: 4rem;
        }
    }
    .card:hover{
        background:  linear-gradient(
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)
          );
        background-size: cover;
    }
}

#what-whe-do{
    margin-top: 12rem;
    h1{
        text-align: center;
        color: $gray-dark;
        margin-bottom: 4rem;
    }
    .card{
        position: relative;
        cursor: pointer;
        border: none;
        color: $gray-dark;
        border-radius: 0;
        background-color: transparent;
        img{
            width: 2.5rem;
            margin: 0 auto;
            margin-bottom: 2rem;
        }
        p{
            color: $gray-light2;
        }
        a{
            color: $aqua;
            font-weight: bold;
        }
        h4{
            font-weight: bold;
        }
        .cont-icon{
            position: absolute;
            top: 1.2rem;
            left: -.5rem;
            color: $purple-primary;
            font-size: 1.5rem;
        }
        .less-left{
            left: -1rem;
        }
    }
    .card:hover{
        background:  linear-gradient(
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)
          );
        background-size: cover;
    }
}