<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Slider -->
<app-slider [images]="imageSlider"></app-slider>

<div id="about">
    <div class="container">
        <div class="row">
           <div class="col-md-4 text-center pt-4 pb-4">
               <img src="assets/images/cash.png" alt="Loading...">
               <div class="gradient-right purple-gradient-down"></div>
           </div>
           <div class="col-md-8 pl-5">
               <h1>Learn About LPA financial </h1>
               <h2 class="mb-4">Tax &Accounting.</h2>
               <p>
                   We are a full-service Accounting firm. We offer a broad range
                   of services for business owners, executives, and independent
                   professionals. We are affordable, experienced, and friendly.
                </p>
           </div>
        </div>
        <div class="row about">
            <div class="col-md-8 pr-5 text-right">
                <h1>About</h1>
                <h2 class="mb-4">LPA Financial</h2>
                <p>
                    Is committed to the quality, discretion and attention of our
                    services for individuals, companies and industries etc. We
                    respect our core values such as integrity, respect, commitment
                    and quality for each of our clients.
                </p>
            </div>
            <div class="col-md-4 text-center pt-4 pb-4">
                <img src="assets/images/bank.png" alt="Loading...">
                <div class="gradient-left purple-gradient-down"></div>
            </div>
        </div>
    </div>
</div>

<div id="files">
    <div class="container bg-section" [style.backgroundImage]="'url(assets/images/bg-purple-1.png)'">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="card text-center">
                    <img src="assets/images/icon-pdf.png" alt="Loading icon...">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, sed Diam nonummy nibh  Is committed to the quality, discretion and attention of our
                                services for individuals, companies and industries etc.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card text-center">
                    <img src="assets/images/icon-pdf.png" alt="Loading icon...">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, sed Diam nonummy nibh  Is committed to the quality, discretion and attention of our
                                services for individuals, companies and industries etc.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card text-center">
                    <img src="assets/images/icon-pdf.png" alt="Loading icon...">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, sed Diam nonummy nibh  Is committed to the quality, discretion and attention of our
                                services for individuals, companies and industries etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="what-whe-do">
    <div class="container">
        <h1>What we do</h1>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="card text-left">
                    <div class="cont-icon">
                        <i class="fas fa-bolt"></i>
                    </div>
                    <div class="card-body">
                        <h4>Tax Services</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, sed Diam nonummy nibh  Is committed to the quality, discretion and attention of our
                                services for individuals</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card text-left">
                    <div class="cont-icon">
                        <i class="far fa-lightbulb"></i>
                    </div>
                    <div class="card-body">
                        <h4>QuickBooks Services</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, sed Diam nonummy nibh  Is committed to the quality, discretion and attention of our
                                services for individuals</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card text-left">
                    <div class="cont-icon less-left">
                        <i class="fas fa-check"></i>
                    </div>
                    <div class="card-body">
                        <h4>Business Services</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, sed Diam nonummy nibh  Is committed to the quality, discretion and attention of our
                                services for individuals</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="card text-left">
                    <div class="cont-icon">
                        <i class="fas fa-bolt"></i>
                    </div>
                    <div class="card-body">
                        <h4>Services For Individuals</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, sed Diam nonummy nibh  Is committed to the quality, discretion and attention of our
                                services for individuals</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card text-left">
                    <div class="cont-icon less-left">
                        <i class="fas fa-bullhorn"></i>
                    </div>
                    <div class="card-body">
                        <h4>Special Title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, sed Diam nonummy nibh  Is committed to the quality, discretion and attention of our
                                services for individuals</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card text-left">
                    <div class="cont-icon less-left">
                        <i class="fas fa-cart-arrow-down"></i>
                    </div>
                    <div class="card-body">
                        <h4>Industries</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, sed Diam nonummy nibh  Is committed to the quality, discretion and attention of our
                                services for individuals</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<app-footer></app-footer>