<div class="fixed-top">
  <div class="container-fluid bg-section" [style.backgroundImage]="'url(assets/images/bg-purple-2.png)'">
    <div class="row nav-cart">
      <div class="col-md-12 text-right">
        <div class="dropdown d-inline-block">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-globe"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" [routerLink]="'/login'">Login</a>
              <a class="dropdown-item" [routerLink]="'/register'">Register</a>
            </div>
        </div>
        <!-- <a><i class="fas fa-shopping-cart"></i> (0)</a> -->
      </div>
    </div>
  </div>

  <div class="cont-menu">
    <nav class="container navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link menu-link" href="#home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="#about-us">About us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link menu-link" href="#shop-tabs">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="#contact-form">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>