@import "variables.scss";

/* You can add global styles to this file, and also import other style files */
$html-font-size-lg: 16px;
$html-font-size-md: 14px;
$html-font-size-sm: 12px;
$html-font-size-xs: 10px;

/* $paragraph-font-size-lg: 18px;
$paragraph-font-size-md: 16px;
$paragraph-font-size-sm: 14px;
$paragraph-font-size-xs: 12px;
 */
html {
    
    font-size: $html-font-size-lg;
    line-height: 23px;
    
    @media (max-width: 1024px) {
        font-size: $html-font-size-md;
    }
    
    @media (max-width: 640px) {
        font-size: $html-font-size-sm;
    }
    
    @media (max-width: 480px) {
        font-size: $html-font-size-xs;
    }
    
}

/* p {
    
    font-size: $paragraph-font-size-lg;
    
    @media (max-width: 1024px) {
        font-size: $paragraph-font-size-md;
    }
    
    @media (max-width: 640px) {
        font-size: $paragraph-font-size-sm;
    }
    
    @media (max-width: 480px) {
        font-size: $paragraph-font-size-xs;
    }
    
} */
.cont-owl{
    /* padding-left: 6rem;
    padding-right: 6rem; */
    img{
        /* border-radius: 1rem; */
        background-size: cover;
        background-position: center;
    }
    .carousel-image{
        //width: 18rem;
        height: 60rem;
        margin: 0 auto;
        /* border-radius: 1rem; */
        background-size: cover;
        background-position: center;
    }
    #customNav{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        .owl-prev, .owl-next {
            position: absolute;
            /* height: 100px; */
            color: inherit;
            background: none;
            border: none;
            font-size: 3rem;
            color: #fff;
            z-index: 100;
            //border: solid 1px #fff;
            border-radius: 100%;
            width: 4.5rem;
            height: 4.5rem;
            background-color: rgba(214, 214, 214, .5);
            line-height: 3rem;
        }
        .owl-prev {
            left: 4rem;
        }
        
        .owl-next {
            right: 4rem;
        }
    }
    .owl-dots{
        position: absolute;
        right: 1rem;
        top: 40%;
        display: block;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-align-content: stretch;
        align-content: stretch;
        .owl-dot span{
            width: 5px !important;
            height: 35px !important;
            //border-radius: 0px !important;
            background: #869791;
        }
        .owl-dot.active span{
            background: #D6D6D6;
        }
    }
    .cont-slider{
        display: inline-block;
        margin-top: 20rem;
        h1{
            font-size: 4rem;
            color: $gray-light;
        }
    }
}

.bg-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

button[class*="btn-shop"]:hover {
    color: $gray-light;
    background-color: rgba(255, 255, 255, .5);
}
.btn-shop {
    font-size: 1.5rem;
    border: solid 1px $gray-light;
    border-radius: 10rem;
    color: $gray-light;
    font-weight: lighter;
    line-height: 3rem;
    width: 13rem;
    text-align: center;
}
.btn-shop-md {
    font-size: 1rem;
    border: solid 2px $gray-light;
    border-radius: 10rem;
    color: $gray-light;
    font-weight: normal;
    line-height: 2rem;
    width: 10rem;
    text-align: center;
}
.btn-shop-sm {
    font-size: 0.8rem;
    border: solid 1px $gray-light;
    border-radius: 10rem;
    color: $gray-light;
    font-weight: lighter;
    line-height: 1rem;
    /* width: 10rem; */
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}
.gradient-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.gradient-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.purple-gradient-down{
    background-image: linear-gradient($purple-dark, $purple-light);
}