$gray-texts: #64818e;
$gray-light: #f6f6f6;
$gray-light2: #9a9a9a;
$gray-light3: #616161;
$gray-dark: #12100e;
$blue-light: #77bffc;
$blue-light2: #5799e5;
$purple-primary: #73327e;
$purple-dark: #1e145a;
$purple-light: #cd52a4;
$aqua: #0f7b5f;