<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item {{ (i == 1) ? 'active' : '' }}" *ngFor="let image of images; let i = index">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <div class="carousel-image" [style.backgroundImage]="'url('+ image +')'"></div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div> -->

<div class=''>    
    <div class="cont-owl position-relative">
        <owl-carousel [options]="CarouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >  
            <div class="item" *ngFor="let img of images; let i = index">  
                <!-- <div style="align-content: center">  
                    <img style="height: 260px;width:100%"src={{img}}/>  
                </div>  --> 
                <div class="carousel-image" [style.backgroundImage]="'url('+ img +')'">
                    <div class="container" *ngIf="i == 0">
                        <div class="cont-slider">
                            <h1 class="mb-0">SEE BEYOND</h1>
                            <h1 class="mb-4">THE NUMBERS</h1>
                            <button type="button" class="btn btn-shop-md">CONTACT</button>
                        </div>
                    </div>
                </div>
            </div>  
        </owl-carousel>  
        <div id="customNav" class="custom-nav"></div>
    </div>
</div>  